fastapi
uvicorn
pydantic
pydantic-settings
SQLAlchemy
python-dotenv
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-groq
langchain-openai
langchain-google-genai
chromadb
sentence-transformers
bcrypt
python-jose
email-validator
python-multipart
apscheduler
numpy<2.0.0
pypdf
